<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {% for repositorySlug, repoName in repositories %}
        <li><a href="{{ url('repository', {'repositorySlug': repositorySlug}) }}">{{ repoName }}</a></li>
        {% endfor %}
    </ul>
</div>